<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/09ca5fed-aca4-4cdb-a2e6-ddcf771c6bbc/resourcegroups/MyK8sApp/providers/Microsoft.ContainerRegistry/registries/MyK8sApp20190312023319</ResourceId>
    <ResourceName>MyK8sApp20190312023319</ResourceName>
    <ResourceGroup>MyK8sApp</ResourceGroup>
    <Subscription>Abbott Pay-As-You-Go</Subscription>
    <RegistryUrl>https://myk8sapp20190312023319.azurecr.io/</RegistryUrl>
    <UserName>MyK8sApp20190312023319</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d689cc06-22a9-4b63-aeba-a874f7248b0e</ProjectGuid>
  </PropertyGroup>
</Project>